.calculatorwrapper {
    width: 1000px;
    padding: 10px;
    min-height: 90vh;
    height: calc(100vh - 84px);
    background-color: #353535;
}

.searchwrapper {
    width: 100vw;
    min-width: 100vw;
    height: 35vh;
    background-color: #353535;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchwrapper h1 {
    font-size: 3em;
}

.graphContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.graphContainer::-webkit-scrollbar {
    display: none;
}